<article id="main" class="yui3-u-13-24 gutter"> <!-- id of main initiates the accordion javaScript for the navigation menu-->
	
	<div class="yui3-u-1"> <!-- first -->
		
		<h1>Forward</h1>
		
		<p class="first"><span class="t">T</span><span class="firstLine">he Book of Jack</span> was supposed to be an entertaining exploration of the name &#147;Jack&#148;, its origins and usage, the letter &#147;j&#148; and even the sound &#147;dzh&#148;, but it turned into something quite a bit different...</p>

		<figure>
			<%= image_tag "geneva-bible.jpg", :alt => 'Geneva Bible' %>
		  <p class="credit"><abbr class="type" title="Geneva Bible 1581">Photograph</abbr> by <cite><a href="http://ca.linkedin.com/pub/liam-quin/8/184/705" target="_blank" title="Liam Quin's profile on LinkedIn"> Liam Quin</a>. Used with permission.</cite></p>
		  <p class="caption"><em class="title">Figure</em> A Geneva Bible from 1581</p>
		</figure>
		
	</div> <!-- end class yui3-u-1 first -->

	<div class="yui3-u-1"> <!-- second -->
		
		<div class="yui3-u-11-24 gutter">
			<p>This photograph of a Geneva Bible printed in 1581, is part of a great collection owned and photographed by Liam Quin. <sup id="fnref:1.1" class="footnote"><a href="/about#fn:1.1">1</a></sup></p>
			
			<p>A little blasphemous maybe, but it&#039;s as good a place to start as any.... You see, the letter &#147;j&#148; is absent from this bible, it hadn&#039;t even been invented yet&#033; I&#039;m wondering how they spelled Jesus&#063; And, if they didn&#039;t use the letter &#147;j&#148;, which has a &#147;dzh&#148; sound, how did they pronounce names like Jacob&#063;</p>
		
		</div> <!-- end class yui3-u-11-24 gutter -->
			
	  <div class="yui3-u-11-24">
			<p>Beyond these questions, the significance of this bible can not be overstated. The Geneva Bible is the most revolutionary of all English Bibles, it was the first English version to be translated entirely from the original languages, it was read by William Shakespeare when he wasn't writing a tragedy, and it was brought to America by the Puritans riding on the Mayflower thus greatly influencing the colonial culture of early American life. <sup id="fnref:1.2" class="footnote"><a href="/about#fn:1.2">2</a></sup></p>
		</div>
		
	</div> <!-- End class yui3-u-1 second -->
			
	<div class="yui3-u-1"> <!-- third -->
		<p>The rest of this site reflects my interest in all things &#0147;Jack&#0148;&#045; a labour of love, maybe an obsession, or simple boredom, I don&#039;t really know. Anyway, by subscribing to the <a href="xml/rssFeed.xml" class="feed" title="RSS Feed">RSS</a> feed, or to <a href="http://twitter.com/BookofJack" class="feed" title="Follow us on Twitter" target="_blank">Twitter</a>, you can receive notification as new content and functionality is added to this site. You can also contact me <a href="contact" title="Contact">here</a> if you like. Or better yet, and add yer own content!</p><p>Cheers.</p>
	</div> <!-- end yui-u-1 third -->

	<div class="pagination">
		<a href="front#top" class="prev-page">
			<<&nbsp;<span class="number">Front Cover</span></a>
		<a href="intro#top" class="next-page">
		    <span class="number">Preface</span>&nbsp;>></a>
	</div> <!-- end class pagination -->

	<aside id="cont" class="footnotes">
		<div class="demo other">			
			<h2>Footnotes</h2>
			<ol class="collapse">
				<li id="fn:1.1">This is a very nice collection from Liam Quin <a href="http://www.fromoldbooks.org/" target="_blank" title="Pictures of Old Books from the Liam Quin collection">Pictures of Old Books. </a><a href="/about#fnref:1.1" class="arrow">↑</a>
				</li>
				<li id="fn:1.2">What makes this version of the <a href="http://en.wikipedia.org/wiki/Geneva_Bible" target="_blank" title="Geneva Bible article from Wikipedia">Holy Bible </a>significant is that, for the very first time, a mechanically printed, mass-produced Bible was made available directly to the general public. <a href="/about#fnref:1.2" class="arrow">↑</a>
				</li>
			</ol>
		</div> 
	</aside> <!-- end class footnotes -->

	<aside id="cont" class="comments">
		<div class="demo other">			
			<h2>Comments</h2>
			<ol class="collapse">
				<div id="disqus_thread"></div>
				<script type="text/javascript">// Discus Comments
				var disqus_developer = 1; // developer mode is on
				var disqus_shortname = 'bookofjack';
				var disqus_identifer = '/about/';
				var disqus_url = 'http://bookofjack.org/about.html';
				var disqus_title = 'about';
				/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();// End Discus 	
				</script>				
			</ol>
		</div>
	</aside> <!-- end class comments -->
</article> <!-- end class main -->