<article id="main" class="yui3-u-13-24 gutter"> <!-- id of main initiates the accordion javaScript for the navigation menu-->
	
	<div class="yui3-u-1"> <!-- first -->
		
		<h1>Back Cover</h1>
		<p class="first"><span class="w">W</span><span class="firstLine">ell, we have come to the end</span> of the Book of Jack. I hope it was an interesting and at times entertaining exploration of the name &#147;Jack&#148;, its origins and usage, the letter &#147;j&#148; and even the sound &#147;dzh&#148;.</p>

		<figure>
			<%= image_tag "back-cover.jpg", :alt => 'Back Cover' %>
		  <p class="credit"><abbr class="type" title="Back Cover">Photograph</abbr> by<cite><a href="http://www.fromoldbooks.org/pictures-of-old-books/" target="_blank" title="Pictures of Old Books"> Liam Quin</a>. Used with permission.</cite></p>
		  <p class="caption"><em class="title">Figure</em> Geneva Bible 1581</p>
		</figure>
		
	</div> <!-- end class yui3-u-1 first -->

	<div class="yui3-u-1"> <!-- second -->
		
		<p>Now of course, you can see that this is the same photograph as the front cover, but that's the way it goes sometimes.</p>

	</div> <!-- End class yui3-u-1 second -->

		<object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/XuRwis3_iVk?fs=1&amp;hl=en_US&amp;rel=0&amp;color1=0x3a3a3a&amp;color2=0x999999"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/XuRwis3_iVk?fs=1&amp;hl=en_US&amp;rel=0&amp;color1=0x3a3a3a&amp;color2=0x999999" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>

	<div class="pagination">
		<a href="colophon#top" class="prev-page">
			<<&nbsp;<span class="number">Colophon</span></a>
	</div> <!-- end class pagination -->

	<aside id="cont" class="footnotes">
		<div class="demo other">			
			<h2>Footnotes</h2>
			<ol class="collapse">
			</ol>
		</div> 
	</aside> <!-- end class footnotes -->

	<aside id="cont" class="comments">
		<div class="demo other">			
			<h2>Comments</h2>
			<ol class="collapse">
				<div id="disqus_thread"></div>
				<script type="text/javascript">// Discus Comments
				var disqus_developer = 1; // developer mode is on
				var disqus_shortname = 'bookofjack';
				var disqus_identifer = '/intro/';
				var disqus_url = 'http://bookofjack.org/intro.html';
				/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();// End Discus 	
				</script>				
			</ol>
		</div>
	</aside> <!-- end class comments -->
</article> <!-- end class main -->