<article id="main" class="yui3-u-13-24 gutter"> <!-- id of main initiates the accordion javaScript for the navigation menu-->
	
	<div class="yui3-u-1"> <!-- first -->
		
		<h1>Colophon</h1>
		<p class="first"><span class="t">T</span><span class="firstLine">he term colophon</span> is a late latin word referring to the inscriptions appended by a scribe to the end of a written document <sup id="fnref:1.1" class="footnote"><a href="/colophon#fn:1.1">1</a></sup>. These inscriptions often provided information about the document being finished, revised and complete and sometimes details of the scribe like his name was included.</p>
	
		<figure>
			<%= image_tag "prisse-papyrus.jpg", :alt => 'Prisse Papyrus' %>
		  <p class="credit"><abbr class="type" title="Prisse Papyrus">Photograph</abbr> from<cite><a href="http://www.historyofscience.com/G2I/timeline/about.php" target="_blank" title="History of Science"> History of Science</a>. Used without permission.</cite></p>
		  <p class="caption"><em class="title">Figure</em> Prisse Papyrus</p>
		</figure>

		<p>Literary manuscripts like the Prisse Papyrus pictured above <sup id="fnref:1.2" class="footnote"><a href="/colophon#fn:1.2">2</a></sup>, which dates from the Egyptian Middle Kingdom, where our story first began, often included such colophonic inscriptions, so I thought I would do the same, albeit with some embellishments.</p>
	
	</div> <!-- end class yui3-u-1 first -->

	<div class="yui3-u-1"> <!-- second -->
	
		<p>The concept for the Book of Jack came from me, Mark Schipper <sup id="fnref:1.3" class="footnote"><a href="/colophon#fn:1.3">3</a></sup>, the content was researched, written and rewritten numerous times over the years, and it appears that this book may never really be finished which became the main reason for adding it to the Internet.</p>
			
		<p>The process of learning how to build a Website from scratch has been a journey of its own and has exposed me to an amazing technological world that required learning the content of well over 100 Web design and development books! <sup id="fnref:1.4" class="footnote"><a href="/colophon#fn:1.4">4</a></sup></p>
		
		<p>As such, my knowledge and skills have grown to a point where I can now comfortably discuss the following technical aspects of building this site, and yet there is still so much to learn.</p>
		
		<p>Initially I began building some simple pages using a Windows PC and Microsoft's Notepad, I outgrew Notepad and migrated to Adobe Dreamweaver, building mostly static pages learning HTML, CSS and simple design concepts such as layout, colour, and typography. At this same time, I also introduced myself to Adobe Illustrator and Photoshop for some visual treatments.</p>
		
		<p>I began adding simple front-end behaviours with JavaScript and soon dove into the Yahoo! User Interface, my first JavaScript library, and was pleasantly surprised with the improved functionality I was able to add with drop-down menus, tabs, and accordions. During this time, I also explored a number of Google products like Maps, Search and AdSense. I began using Firefox tools like </p> 
		
		<p>I then added Apache, MySQL and PHP and began building some limited dynamic pages but was quite overwhelmed with all of the tools, technologies and methodologies I needed to learn. I had rewritten the Website several times, I did not know anything about versioning, but by this time, I was probably on version 6.3.15 build 2387 :)</p>
		
		<p>Then I bought an Apple iMac and I discovered how much fun web design and application development really is!</p>
				
		<p>My current design and development environment consists of Adobe Photoshop and Illustrator for digital imagery and drawing, HTML5 and CSS3 are being used as much as the current browsers will allow and the preferred JavaScript library is jQuery 1.4.2.</p>
		<p>Textmate a text editor is used to edit text, and iTerm, a command-line terminal is used to issue commands. The Web browser of choice is Firefox with several add-ons like Firebug, YSlow and the Web Developer Toolbar. I have the Ruby Version Manger installed but I stick with Ruby 1.9.2 and Rails 3.x.x. My version control system is Git and I push my code to GitHub which makes it very easy to deploy my test environment to Heroku.</p>
		
		<p>With everything in place, I decided to turn this book into a social networking site, where I could provide some of the background context and users could sign up and add their own content and in so doing, maybe this book will be complete one day after all.</p>
				
	</div> <!-- End class yui3-u-1 second -->

	<div class="pagination">
		<a href="bibli#top" class="prev-page">
			<<&nbsp;<span class="number">Bibliography</span></a>
		<a href="back#top" class="next-page">
		    <span class="number">Back Cover</span>&nbsp;>></a>
	</div> <!-- end class pagination -->

	<aside id="cont" class="footnotes">
		<div class="demo other">			
			<h2>Footnotes</h2>
			<ol class="collapse">
				<li id="fn:1.1">Origin of the term colophon from our friends at <a href="http://en.wikipedia.org/wiki/Colophon_%28publishing%29" target="_blank" title="Colophon">Wikipedia</a>. <a href="/colophon#fnref:1.1" class="arrow">↑</a></li>
				
				<li id="fn:1.2">Jeremy Norman's <a href="http://www.historyofscience.com/G2I/timeline/index.php" target="_blank" title="Prisse Papyrus">site</a> 'From Cave Paintings to the Internet' is a chronological and thematic database on the history of information and media. This site is simply amazing and it is here that I found the Prisse Papyrus pictured above. <a href="/colophon#fnref:1.2" class="arrow">↑</a></li>
				
				<li id="fn:1.3">I am currently with University of Calgary Continuing Education, managing the academic operations of a small unit that provides computer application and IT training in the form of courses, certificate programs, professional designations, and technology seminars to the Greater Calgary Area. <a href="http://ca.linkedin.com/in/mschipper" target="_blank" title="LinkedIn">LinkedIn</a>. <a href="/colophon#fnref:1.3" class="arrow">↑</a></li>
				
				<li id="fn:1.4">Obviously, I cannot list <em>all</em> of the books, blogs, tutorials and articles I have read, but in this <a href="/bibli" title="Bibliography">bibliography</a> I have included those resources that became significant in my own technical development. <a href="/colophon#fnref:1.4" class="arrow">↑</a></li>

			</ol>
		</div> 
	</aside> <!-- end class footnotes -->

	<aside id="cont" class="comments">
		<div class="demo other">			
			<h2>Comments</h2>
			<ol class="collapse">
				<div id="disqus_thread"></div>
				<script type="text/javascript">// Discus Comments
				var disqus_developer = 1; // developer mode is on
				var disqus_shortname = 'bookofjack';
				var disqus_identifer = '/intro/';
				var disqus_url = 'http://bookofjack.org/intro.html';
				/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();// End Discus 	
				</script>				
			</ol>
		</div>
	</aside> <!-- end class comments -->
</article> <!-- end class main -->