<article id="main" class="yui3-u-13-24 gutter"> <!-- id of main initiates the accordion javaScript for the navigation menu-->
	
	<div class="yui3-u-1"> <!-- first -->

		<h1>Front Cover</h1>
		<p class="first"><span class="e">E</span><span class="firstLine">very book has a cover</span>, and this is the front cover of a 1581 Geneva Bible, bound in full leather with gold tooling that I thought would make the perfect book cover for the <em><strong>Book of Jack</strong></em> <sup id="fnref:1.1" class="footnote"><a href="/front#fn:1.1">1</a></sup>.</p>

		<figure>
			<%= image_tag "front-cover.jpg", :alt => 'Front Cover' %>
		  <p class="credit"><abbr class="type" title="Geneva Bible 1581">Photograph</abbr> by <cite><a href="http://ca.linkedin.com/pub/liam-quin/8/184/705" target="_blank" title="LinkedIn"> Liam Quin</a>. Used with permission.</cite></p>
		  <p class="caption"><em class="title">Figure</em> A Geneva Bible from 1581</p>
		</figure>
		
	</div> <!-- end yui-3-1 first -->

	<div class="yui3-u-1">
		<h2>Copyright</h2>
		<p>Copyright 1994-2011. All rights reserved.</p>
 
	</div> <!-- End class yui3-u-1 -->

		<div class="pagination">
			<a href="about#top" class="next-page">
			    <span class="number">Forward</span>&nbsp;>></a>
		</div> <!-- end class pagination -->

		<aside id="cont" class="footnotes">		
			<div class="demo other">			
				<h2>Footnotes</h2>
				<ol class="collapse">
					<li id="fn:1.1">This is a very nice collection from Liam Quin <a href="http://www.fromoldbooks.org/" target="_blank" title="Pictures of Old Books from the Liam Quin collection">Pictures of Old Books. </a><a href="/front#fnref:1.1" class="arrow">↑</a>
					</li>
				</ol>
			</div> 
		</aside> <!-- end class footnotes -->

		<aside id="cont" class="comments">
			<div class="demo other">			
				<h2>Comments</h2>
				<ol class="collapse">
					<div id="disqus_thread"></div>
					<script type="text/javascript">// Discus Comments
					var disqus_developer = 1; // developer mode is on
					var disqus_shortname = 'bookofjack';
					var disqus_identifer = '/intro/';
					var disqus_url = 'http://bookofjack.org/intro.html';
					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();// End Discus 	
					</script>				
				</ol>
			</div>
		</aside> <!-- end class comments -->
	</article> <!-- end class main -->