<article id="main" class="yui3-u-13-24 gutter"> <!-- id of main initiates the accordion javaScript for the navigation menu-->
	
	<div class="yui3-u-1"> <!-- first -->
		
		<h1>Preface</h1>
		<p class="first"><span class="i">I</span><span class="firstLine">t was fall,</span> late 1994 and I was a junior high, math and science teacher in a small rural community school located somewhere in the vast emptyness of the barren Canadian prairies, where I could see, uninterupted, from one horizon to the other.</p>
			
		<figure class="content">
			<%= image_tag "barren-prairie.jpg", :alt => 'The Barren Prairies' %>
			<p class="credit"><abbr class="type" title="The Barren Prairies">Photograph</abbr> by <cite><a href="http://www.flickr.com/photos/24404290@N03/" target="_blank" title="Jon Dirk's photostream on Flickr"> Jon Dirks</a> <sup id="fnref:1.1" class="footnote"><a href="/intro#fn:1.1">1</a></sup>. Sign on Hwy 876. Used with permission.</cite></p>
			<p class="caption"><em class="title">Figure</em> The Barren Canadian Prairies</p>
		</figure>
				
	</div> <!-- end class yui3-u-1 first -->

	<div class="yui3-u-1"> <!-- second -->
		
		<div class="yui3-u-11-24 gutter">
			<p>Sitting at a monthly staff meeting with Halloween fast approaching, the discussion turned to the various activities and festivities being planned. The usual Halloween Dance, door decorating contests (my grade seven homeroom won that year!), classroom parties with apple bobbing contests, and so on.</p>
		</div>
			
		<div class="yui3-u-11-24">
      <p>Meanwhile, as I tuned out of the immediate conversation (I was never really that interested anyway), I began thinking about that orange squash that gets carved up annually every fall, but could not, for the life of me, remember what it was called. I thought... Jacklight, Jack Frost, jack knife, Jack and Jill... I knew it was Jack something.</p>
		</div>
			
		<div class="yui3-u-1">
      <p>I began writing: Jack the ripper, Jack and the beanstalk, Jack fruit, Jackass... a colleague sitting on my right noticed my distraction, I explained my perturbed-ness and she politely replied, 'Jack 'o Lantern'. Ohhhh ya, that was it!!!</p>
		</div>

		<figure class="content">
			<%= image_tag "jack-o'-lantern.png	", :alt => 'Jack \'O Lantern' %>
			<p class="credit"><abbr class="type" title="Jack o' Lantern">Illustration</abbr> by <cite> <a href="http://www.farmington.edu/search.php?cx=016049096221389479702%3A6ygwspl4b-g&cof=FORID%3A11%3BNB%3A1&ie=UTF-8&q=sage+foley&sa=Search&siteurl=www.farmington.edu%2Fnews%2Frelease.php%3Fid%3D7001#380" target="_blank" title="Sage Foley graduates from University of Maine Farmington">Sage Foley</a> <sup id="fnref:1.2" class="footnote"><a href="/intro#fn:1.2">2</a></sup>. Used without permission. </cite></p>
			<p class="caption"><em class="title">Figure</em> Jack o' Lantern</p>
	  </figure>
		
	</div> <!-- end yui3-u-1 second -->

	<div class="yui3-u-1"> <!-- third -->
		
		<div class="yui3-u-11-24 gutter">
			<p>But by now, I had half a page of words and phrases that had Jack in it: jack off, jack shit, jack rabbit, Jack Horner, jack ass (I wrote that one twice!). People, games, animals, plants, and other sorted things, how did this all happen&#63;</p>
		</div>
			
     <div class="yui3-u-11-24">
				<p>I reached for a dictionary from the shelf behind me, the letter J it said, '...is the tenth letter of the alphabet, and the last of the 26 letters to be included.' So I looked up the word Jack, and found: every-man-jack, jack-a-dandy, jack-a-roo, Jack Ketch, jack ladder, jack leg.</p>
			</div>
			
			<div class="yui3-u-1">
				<p>And thus began my quest, to understand the origin and usage of the word Jack. A journey that would take me back to the Egyptian hieroglyphs and the Old Testament, the Semites and Phoenicians, the 1358 French Revolt and the rest of the Middle Ages, the Dutch Printers and the King James Bible, the Industrial Revolution, botany, zoology and even some geology, famous people (and some not so famous), the kitchen and the garage. A journey that, ultimately, led to the design and development of this here Web site.</p>
			</div>
			
		</div> <!-- end yui3-u-1 third -->

	<div class="pagination">
		<a href="about#top" class="prev-page">
			<<&nbsp;<span class="number">Forward</span></a>
		<a href="map#top" class="next-page">
		    <span class="number">Map</span>&nbsp;>></a>
	</div> <!-- end class pagination -->

	<aside id="cont" class="footnotes">
		<div class="demo other">			
			<h2>Footnotes</h2>
			<ol class="collapse">
				<li id="fn:1.1"><a href="http://www.flickr.com/people/24404290@N03/" target="_blank" title="Jon Dirks on Flickr">Jon Dirks</a> is an amateur photographer who has produced some great landscape photography showcasing farms of the Canadian Prairies. <a href="/intro#fnref:1.1" class="arrow">↑</a>
				</li>
				<li id="fn:1.2">I found this illustration of a pumkin on the Web quite some time ago. It was part of a presentation made by <a href="http://www.farmington.edu/search.php?cx=016049096221389479702%3A6ygwspl4b-g&cof=FORID%3A11%3BNB%3A1&ie=UTF-8&q=sage+foley&sa=Search&siteurl=www.farmington.edu%2Fnews%2Frelease.php%3Fid%3D7001#380" target="_blank" title="Sage Foley graduates from UMF">Sage Foley</a> who, at the time was attending University of Maine Farmington and has since graduated with a B.S. in Elementary Educationin back in 2009. <a href="/intro#fnref:1.2" class="arrow">↑</a>
				</li>
			</ol>
		</div> 
	</aside> <!-- end class footnotes -->

	<aside id="cont" class="comments">
		<div class="demo other">			
			<h2>Comments</h2>
			<ol class="collapse">
				<div id="disqus_thread"></div>
				<script type="text/javascript">// Discus Comments
				var disqus_developer = 1; // developer mode is on
				var disqus_shortname = 'bookofjack';
				var disqus_identifer = '/intro/';
				var disqus_url = 'http://bookofjack.org/intro.html';
				/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();// End Discus 	
				</script>				
			</ol>
		</div>
	</aside> <!-- end class comments -->
				
</article> <!-- end class main -->