<article id="main" class="yui3-u-13-24 gutter"> <!-- id of main initiates the accordion javaScript for the navigation menu-->
	
	<div class="yui3-u-1"> <!-- first -->
		
		<h1>Wadi el-Hol</h1>
		
			<p class="first"><span class="i">I</span><span class="firstLine"> am standing here,</span> along an ancient road at the Wadi el-Hol (Valley of Terror) <sup id="fnref:1.1" class="footnote"><a href="/wadi#fn:1.1">1</a></sup>, just west of the Nile, and north of Luxor, where soldiers and caravans of traders and mercenaries once traveled between the ancient cities of Thebes and Abydos.</p>

		<figure>
			<%= image_tag "wadi_el_hol.jpg", :alt => 'wadi el-Hol' %>
		  <p class="credit"><abbr class="type" title="Standing at Wadi el-Hol">Photograph</abbr> by<cite><a href="http://www.usc.edu/dept/LAS/wsrp/information/wadi_el_hol/" target="_blank" title=""> John Melzian</a>. Used without permission.</cite></p>
		  <p class="caption"><em class="title">Figure</em> Ancient Trade Route</p>
		</figure>
		
	</div> <!-- end class yui3-u-1 first -->

	<div class="yui3-u-1"> <!-- second -->
		
		<div class="yui3-u-11-24 gutter">
			<p>Carved into the soft limestone cliffs, by Semites some 4000 years ago, it is here, in Egypt's Western desert, that we find the first signs of an alphabetic writing system. <sup id="fnref:1.2" class="footnote"><a href="/wadi#fn:1.2">2</a></sup></p>
			
			<p>The writing, in a Semitic script with Egyptian influences, was, in all likelihood a collaborative effort between the Egyptian scribes and the Semitic mercenaries living in Egypt at the time. <sup id="fnref:1.3" class="footnote"><a href="/wadi#fn:1.3">3</a></sup></p>
		
		</div> <!-- end class yui3-u-11-24 gutter -->
			
	  <div class="yui3-u-11-24 right">
			<p>Working with Semitic speakers, the scribes would have simplified the pictographs of formal writing and modified the symbols into an early alphabet, resulting in the creation of some 22 different symbols representing the consonant sounds of the Semitic language. <sup id="fnref:1.4" class="footnote"><a href="/wadi#fn:1.4">4</a></sup></p>
		</div>
		
	</div> <!-- End class yui3-u-1 second -->
			
	<div class="yui3-u-1"> <!-- third -->
		<figure>
			<%= image_tag "inscriptions.jpg", :alt => 'Earliest Semitic Letters' %>
		  <p class="credit"><abbr class="type" title="Earliest Semitic Letters">Photograph</abbr> by<cite><a href="http://www.usc.edu/dept/LAS/wsrp/information/wadi_el_hol/" target="_blank" title="Earliest Semitic Letters"> Bruce Zuckerman and Marilyn Lundberg</a>. Used without permission.</cite></p>
		  <p class="caption"><em class="title">Figure</em> Earliest Semitic Letters</p>
		</figure>
		
		<p></p>
		
		<p>So, the first alphabet was developed as a kind of shorthand, with each symbol representing a single sound... and the Semites took this new alphabet, out of Egypt, and into Sinai, Land of the Fayrouz.</p>	
	</div> <!-- end yui-u-1 third -->

	<div class="pagination">
		<a href="antiquity#top" class="prev-page">
			<<&nbsp;<span class="number">Antiquity</span></a>
		<a href="serabit#top" class="next-page">
		    <span class="number">Serabit</span>&nbsp;>></a>
	</div> <!-- end class pagination -->

	<aside id="cont" class="footnotes">
		<div class="demo other">			
			<h2>Footnotes</h2>
			<ol class="collapse">
				<li id="fn:1.1">For those of you new to Arabic naming conventions, a Wadi (Arabic: وادي‎ wādī) is traditionally a valley of some sort, and often refers to a dry riverbed that contains water during times of heavy rain but is otherwise a dry riverbed found in the desert. <a href="http://www.worldlingo.com/ma/enwiki/en/Wadi" target="_blank" title="Wadi">Wadi </a><a href="/wadi#fnref:1.1" class="arrow">↑</a>
				</li>
				<li id="fn:1.2">Wikipedia has a good article on the <a href="http://en.wikipedia.org/wiki/Geneva_Bible" target="_blank" title="The Geneva Bible from Wikipedia">Geneva Bible </a><a href="/about#fnref:1.2" class="arrow">↑</a>
				</li>
			</ol>
		</div> 
	</aside> <!-- end class footnotes -->

	<aside id="cont" class="comments">
		<div class="demo other">			
			<h2>Comments</h2>
			<ol class="collapse">
				<div id="disqus_thread"></div>
				<script type="text/javascript">// Discus Comments
				var disqus_developer = 1; // developer mode is on
				var disqus_shortname = 'bookofjack';
				var disqus_identifer = '/wadi/';
				var disqus_url = 'http://bookofjack.org/intro.html';
				/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();// End Discus 	
				</script>				
			</ol>
		</div>
	</aside> <!-- end class comments -->
</article> <!-- end class main -->